/**
 * basic styles for the javascript sandbox console
 *
 * http://openexchangerates.github.io/javascript-sandbox-console/
 */

#sandbox,
#sandbox div.output,
#sandbox div.output span,
#sandbox input,
#sandbox input:focus {
	font-size:14px;
	line-height:1.3;
	font-weight: normal;
	font-family:"Consolas", "Andale Mono", "Courier New", "Courier", monospace;
	border:0 none;
	outline:0 none;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	        box-shadow:none;
}
#sandbox {
	background:#333;
	color: #ccc;
	background: #333;
	padding:20px 20px 15px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	/* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

@media only screen and (max-width: 1900px) {
    #sandbox{

		}
}
#sandbox div.output {
	display:block;
	white-space:div;
	width:100%;
	height:285px;
	overflow-y:auto;
	position:relative;
	padding:0;
	margin:0 0 10px;
	border:0 none;
}

.dropdown-content li>a, .dropdown-content li>span{
	color: #333
}
#sandbox div.output span           { color:#f7f7f7; }
#sandbox div.output span.command   { color:#ccc; }
#sandbox div.output span.divfix    { color:#777; }
#sandbox div.output span.undefined { color:#777; }
#sandbox div.output span.string    { color:#99f; }
#sandbox div.output span.number    { color:#7f7; }
#sandbox div.output span.error     { color:#f77; }

#sandbox .input {
	padding:0 0 0 15px;
	position:relative;
}
#sandbox .input:before {
	content:">";
	position:absolute;
	top: 15px;
	left: 0;
	color:#ddd
}
#sandbox input {
	color:#f7f7f7;
	background:#333;
	border:0 none;
	outline:0 none;
	padding:0;
	margin:0;
	resize: none;
	width:100%;
	overflow:hidden;
}
#sandbox input:focus {
	outline:0 none;
}


#sandbox div.output::-webkit-scrollbar,
#sandbox div.output::-webkit-scrollbar-button,
#sandbox div.output::-webkit-scrollbar-track,
#sandbox div.output::-webkit-scrollbar-track-piece,
#sandbox div.output::-webkit-scrollbar-thumb,
#sandbox div.output::-webkit-scrollbar-corner,
#sandbox div.output::-webkit-resizer {
	background: transparent;
}
#sandbox div.output::-webkit-scrollbar {
	width:  7px;
	height: 7px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}
#sandbox div.output::-webkit-scrollbar-track-piece {
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
#sandbox div.output::-webkit-scrollbar-thumb {
	background: #4f4f4f;
	        border-radius: 5px;
}
#sandbox div.output::-webkit-scrollbar-button {
	width:0;
	height:0;
}
